.pleft{
	background-color: #e65a71;
}
.rightM .centerM .messageB{
	background-color: #E67386;
	color: #fff;
}
.leftM .centerM .messageB{
	background-color: #fff;
	color:#808080;
}


.pleft ul li{
	color:#fff;
}
.pleft ul .active{
	color: #834a4a;
	background:#f5bdc6;
}
.pleft ul .hover_active{
	background:#eb7b8d;
}

.rightM .pointM{
    background: url(../../../resources/img/arrow1.gif) no-repeat 0;
}
.leftM .pointM{
    background: url(../../../resources/img/arrow3.gif) no-repeat 0;
}
.sendMessageBotton{
	background-color:#db425b;
	color: #fff;
}
.sendMessageBotton:active{
    background-color: #e64762;
}
body .pright{
     box-shadow: 0 4px 10px rgba(0,0,0, .3);
}