<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
  	<dubbo:application name="doctor-consumer"/>
	<dubbo:registry protocol="zookeeper" address="${server.zookeeper}"/>
	
	<!-- 短信服务 -->
    <dubbo:reference id="sMSService" interface="com.jumper.common.service.sms.SMSService" timeout="1200000" version="1.0.0" />
    <!-- 用户信息 -->
	<dubbo:reference id="userService" interface="com.jumper.dubbo.service.UserService" timeout="180000" retries="0"/>
	<!-- 监测 -->
	<dubbo:reference id="recordSugarDubbo" interface="com.jumper.record.service.dubbo.RecordSugarDubbo" timeout="1200000" version="2.0.0" />
	
</beans>